@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.social {
  font-weight: 600;
  margin: 5px;
  padding: 10px;
  background-color: hsl(0, 0%, 20%);
  color: white;
  border-radius: 5px;
  text-align: center;
}

.social:hover {
  background-color: #3e52a3;
}
