<!-- gérer la position de cet élément. Actuellement, il est géré à l'aide d'un padding, mauvaise pratique, il faudrait le gérer vis à vis de son parent. -->

<!-- Gérer les couleurs -->

<div class="flex flex-col bg-gray-600 px-5 py-24 justify-center">
  <div class="flex flex-col items-center">
    <img
      src="assets/my-pic.jpeg"
      alt="Photo du concepteur et développeur de ce site, Nathan CAZARD"
      class="rounded-full w-40"
    />
    <p class="font-bold">Nathan CAZARD</p>
    <p class="font-normal italic">Nantes, France</p>
    <div id="description">Ceci est une description</div>
  </div>
  <div class="flex flex-col pt-15">
    <a
      href="https://github.com/nathanc8"
      target="_blank"
      class="social"
      id="github"
      >GitHub
    </a>
    <a
      href="https://www.linkedin.com/in/nathan-cazard-431879180/"
      target="_blank"
      class="social"
      id="linkedin"
      >LinkedIn
    </a>
    <a
      href="https://www.frontendmentor.io/profile/nathanc8"
      target="_blank"
      class="social"
      id="frontendmentor"
      >Frontend Mentor
    </a>
    <a href="assets/resume-nathan-cazard.pdf" download class="social"
      >Download my resume !
    </a>
  </div>
</div>
