<!-- @Todo : do this section of the portfolio -->
<div class="h-[90vh] min-h-min bg-gray-950 grid grid-template text-justify">
    <div class="text-slate-300 font-semibold text-3xl px-4 py-2">
        <h1>Who am I?</h1>
        <p class="text-slate-300 text-xl p-2 font-normal">
            My name is <span class="text-merlot-500">Nathan CAZARD</span> and I
            am a budding developer passionate about creating innovative, robust,
            and optimized solutions. <br />
            I'm currently pursuing a
            <span class="text-merlot-500"
                >Web Developer and Application Designer</span
            >
            training program at Ada Tech School in Nantes since May 2024.
        </p>
    </div>

    <div class="text-slate-300 font-semibold text-3xl px-4 py-2">
        <h1>What do I learn?</h1>
        <p class="text-slate-300 text-xl p-2 font-normal">
            During this training, I have been learning various programming
            languages, including
            <span class="text-merlot-500"
                >TypeScript, HTML, CSS, Python, and SQL.</span
            >
            I am particularly interested in
            <span class="text-merlot-500"
                >Angular and Java with Spring Boot</span
            >, and I plan to further explore Node.js and React in the future. I
            have had the opportunity to work on several group projects
            (available on my GitHub), which have significantly contributed to my
            understanding of organization and teamwork methodologies within a
            development team.
        </p>
    </div>
    <div class="text-slate-300 font-semibold text-3xl px-4 py-2">
        <h1>What can I bring to the table?</h1>
        <p class="text-slate-300 text-xl p-2 font-normal">
            Building on my experience as a
            <span class="text-merlot-500">functional QA </span>, I have
            developed a strong understanding of
            <span class="text-merlot-500"
                >testing processes, software quality, and Agile/Scrum
                methodologies</span
            >. My background in quality assurance has sharpened my attention to
            detail and enhanced my ability to identify and resolve issues before
            they affect the end user. Now, I aim to leverage these skills in the
            development field, driven by the desire to contribute to ambitious
            projects.
        </p>
    </div>
    <div class="text-slate-300 font-semibold text-3xl px-4 py-2">
        <h1>What am I looking for?</h1>
        <p class="text-slate-300 text-xl p-2 font-normal">
            I am currently seeking an apprenticeship to further strengthen my
            development skills, starting in
            <span class="text-merlot-500"
                >March 2025, with a schedule of four days per week in the
                workplace.
            </span>
        </p>
    </div>
    <div class="text-slate-300 font-semibold text-3xl px-4 py-2">
        <h1>What do I like?</h1>
        <p class="text-slate-300 text-xl p-2 font-normal">
            This section was feeling a bit too unpersonal, so there is what you
            need to know about me. I have a passion for
            <span class="text-merlot-500"
                >e-sports, deep-sea documentary, music </span
            >(I'm looking forward to listen to your favorite artists!), and I
            love to cook.
        </p>
    </div>
    <div class="text-slate-300 font-semibold text-3xl px-4 py-2">
        If you've read this far, feel free to reach out !
        <a
            href="contact"
            routerLink="/contact"
            class="text-merlot-500 hover:text-slate-300 border border-merlot-700 hover:bg-merlot-700 focus:ring-4 font-bold rounded-lg text-xl p-2.5 text-center mt-4 w-[70vw] lg:w-52 hover:scale-105 ease-out duration-200"
        >
            >Contact me!
        </a>
    </div>
</div>
