<div class="col-start-4 col-span-3">
    <div class="text-slate-300 text-4xl p-2">
        I am dedicated to crafting innovative and <br class="hidden" />impactful solutions through my work.
    </div>
    <div class="text-slate-300 text-4xl p-2">
        Here, you will find an overview of my projects, skills,
        <br class="hidden" />and ongoing journey in the field of development.
    </div>
    <div class="text-slate-300 text-4xl p-2">Thank you for visiting, I invite you to explore further.</div>
</div>
