<div class="w-full">
  <nav class="bg-red-900">
    <div class="flex justify-between">
      <a routerLink="" class="p-8">NCZ</a>
      <ul class="flex">
        <li class="p-8">
          <a routerLink="/home" routerLinkActive="">Home</a>
        </li>
        <li class="p-8">
          <a routerLink="/about" routerLinkActive="">About me</a>
        </li>
        <li class="p-8">
          <a routerLink="/portfolio" routerLinkActive="">My projects</a>
        </li>
        <li class="p-8">
          <a routerLink="/contact" routerLinkActive="">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
