<div class="flex flex-col items-center text-center border-2 border-merlot-600 rounded-xl text-slate-300 w-[80%] p-6">
    <div
        class="relative w-full h-[40vh] rounded-xl overflow-hidden bg-cover bg-center"
        [style.backgroundImage]="'url(' + project.mainImageUrl + ')'"
        [title]="project.imageAlt"
        (click)="viewProject()"
    >
        <div
            class="absolute inset-0 bg-black bg-opacity-50 flex flex-col justify-center items-center"
            (click)="viewProject()"
        >
            <span
                class="text-3xl font-bold text-slate-100 hover:cursor-pointer hover:scale-110 transition-transform duration-200"
            >
                {{ project.name | uppercase }}
            </span>
        </div>
    </div>
    <span class="w-[80%] mt-4">
        <p class="p-2">{{ project.summary }}</p>

        <!-- @Todo ajouter les tags à cet endroit -->

        <p class="pb-2">Developed in {{ project.developmentTime | lowercase }}.</p>
    </span>
    <button
        (click)="viewProject()"
        class="w-[70%] social m-3 p-3 font-semibold bg-gray-950 border-2 border-merlot-700 text-slate-100 rounded-xl text-center hover:bg-merlot-700 ease-out duration-200 hover:scale-105"
    >
        View project details
    </button>
</div>
