<div class="flex flex-col h-[90vh] bg-zinc-800 items-center text-slate-100">
  <div>
    <h1 class="text-4xl font-bold m-8 justify-center">Contact me!</h1>
  </div>
  <div class="bg-zinc-700 p-6 rounded-lg shadow-lg w-[80vw] lg:w-[70vw]">
    <div class="flex flex-col mb-4">
      <label for="name" class="mb-2 text-sm font-semibold">Full Name</label>
      <input
        type="text"
        id="name"
        [(ngModel)]="form.name"
        class="p-2 rounded-md border border-gray-600 bg-zinc-800 text-slate-100 focus:outline-none focus:ring focus:ring-merlot-500"
      />
    </div>
    <div class="flex flex-col mb-4">
      <label for="email" class="mb-2 text-sm font-semibold">Email</label>
      <input
        type="email"
        id="email"
        [(ngModel)]="form.email"
        class="p-2 rounded-md border border-gray-600 bg-zinc-800 text-slate-100focus:outline-none focus:ring focus:ring-merlot-500"
      />
    </div>
    <div class="flex flex-col mb-4">
      <label for="phone" class="mb-2 text-sm font-semibold">Phone Number</label>
      <input
        type="phone"
        id="phone"
        [(ngModel)]="form.phone"
        class="p-2 rounded-md border border-gray-600 bg-zinc-800 text-slate-100focus:outline-none focus:ring focus:ring-merlot-500"
      />
    </div>
    <div class="flex flex-col mb-4">
      <label for="message" class="mb-2 text-sm font-semibold"
        >Your message</label
      >
      <textarea
        id="message"
        [(ngModel)]="form.message"
        class="p-2 min-h-32 h-56 max-h-96 rounded-md border border-gray-600 bg-zinc-800 text-slate-100 focus:outline-none focus:ring focus:ring-merlot-500"
      ></textarea>
    </div>
    <div class="flex justify-center">
      <button
        (click)="send()"
        class="w-[55vw] py-2 px-4 bg-merlot-600 text-slate-100font-semibold rounded-md hover:bg-merlot-700 transition hover:scale-105"
      >
        Send
      </button>
    </div>
  </div>
</div>
