<app-navbar />
<div>
  <app-linktree />
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ad facere
    praesentium maxime doloribus iure adipisci vitae quo dolores quaerat ipsam
    alias vero mollitia placeat quas, error magnam, voluptate beatae commodi.
    Atque id odio animi aperiam enim vero earum praesentium, in similique
    voluptatibus molestias! Quod deserunt mollitia amet dolores adipisci. Magni
    dolor doloribus, iure delectus nobis error id odio eos doloremque. Commodi
    laborum, assumenda exercitationem corporis, totam quod natus voluptatem odio
    aut possimus, magnam quia at autem? Nihil optio aut facilis error ipsa
    quisquam eveniet eos nisi quos! Quas impedit nisi tempore dolor, ut
    accusantium quaerat explicabo delectus et esse?
  </div>
</div>
<app-footer />
