<div class="h-[90vh] min-h-min bg-brown-900 lg:grid lg:grid-cols-2 pb-2">
  <div
    class="flex text-slate-300 text-7xl text-center justify-center items-center row-span-2"
  >
    <div class="w-[80vw] lg:w-[30vw]">
      Welcome to my portfolio, I'm <br />
      <span class="text-merlot-500">Nathan CAZARD</span>
    </div>
  </div>
  <div class="flex items-center justify-center">
    <app-linktree class="w-full h-auto m-4" />
  </div>
  <div class="flex flex-col text-center m-4 col-span-4">
    <div class="text-slate-300 text-4xl p-2">
      I am an aspiring developer dedicated to crafting innovative and impactful
      solutions through my work.
    </div>
    <div class="text-slate-300 text-4xl p-2">
      Here, you will find an overview of my projects, skills, and ongoing
      journey in the field of development.
    </div>
    <div class="text-slate-300 text-4xl p-2">
      Thank you for visiting, and I invite you to explore further.
    </div>
  </div>
</div>
