<div class="h-[90vh] min-h-min bg-brown-900 lg:grid lg:grid-cols-2 pb-2">
  <div
    class="flex text-slate-300 text-[42px] leading-none text-center justify-center items-center row-span-2 lg:text-7xl"
  >
    <div class="w-[80vw] lg:w-[40vw]">
      Welcome to my portfolio, I'm <br />
      <span class="text-merlot-500">Nathan CAZARD, </span><br /><span
        class="hidden lg:inline"
        >&zwnj;{{ dynamicText | titlecase }}</span
      ><span class="sm:hidden">{{ dynamicText | titlecase }}</span>
    </div>
  </div>
  <div class="flex items-center justify-center">
    <app-linktree class="w-full h-auto m-4" />
  </div>
  <div
    class="flex flex-col text-center items-center m-4 col-span-4 lg:grid lg:grid-cols-6"
  >
    <a
      routerLink="/portfolio"
      class="hidden lg:inline col-start-2 text-merlot-500 hover:text-white border border-merlot-700 hover:bg-merlot-700 focus:ring-4 font-bold rounded-lg text-xl p-2.5 text-center mt-4 w-[70vw] lg:w-52"
    >
      >Check my projects!
    </a>
    <div class="col-start-4 col-span-3">
      <div class="text-slate-300 text-4xl p-2">
        I am dedicated to crafting innovative and <br class="hidden" />impactful
        solutions through my work.
      </div>
      <div class="text-slate-300 text-4xl p-2">
        Here, you will find an overview of my projects, skills,
        <br class="hidden" />and ongoing journey in the field of development.
      </div>
      <div class="text-slate-300 text-4xl p-2">
        Thank you for visiting, I invite you to explore further.
      </div>
    </div>
    <a
      routerLink="/portfolio"
      class="lg:hidden col-start-2 text-merlot-500 hover:text-white border border-merlot-700 hover:bg-merlot-700 focus:ring-4 font-bold rounded-lg text-xl p-2.5 text-center mt-4 w-[70vw] lg:w-52"
    >
      >Check my projects!
    </a>
  </div>
</div>

<!-- I am an aspiring developer / backend enthusiast / future full-stack programmer /
breaking into tech -->
